<!doctype html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

    <form action="/salvarEstado" th:object="${estado}" method="post">
        <label>Nome do Estado</label>
        <input type="text" th:field="*{nome}">

        <label>Sigla do Estado</label>
        <input type="text" th:field="*{sigla}">

        <button type="submit">Salvar</button>
    </form>

</body>
</html>
